.hero {
  height: 90vh;
  background: url("../../img/hero-img.jpg");
  background-position: center;
  display: flex;
  width: 98vw;
}
.hero .herocont {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero .heroText {
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
}
.hero .heroText .heroText1 {
  font-size: 1.5rem;
}

.hero .heroText .heroText2 {
  font-size: 4.5rem;
  font-weight: 600;
  width: 80%;
}
.heroText .searchBox {
  height: 10vh;
  width: 30vw;
  border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
}
.heroText .searchBox .searchInput {
  height: 100%;
  background-color: white;
  /* width: ; */
  border-radius: 50px;
  outline: none;
  width: 100%;
  position: absolute;
  padding-left: 1rem;
}
.heroText .searchBox .searchbtn {
  padding-right: 1rem;
  border-radius: 50px;
  border: 1px solid orange;
  width: 40%;
  color: white;
  font-weight: 600;
  position: absolute;
  right: 0;
  background: greenyellow;
  height: 100%;
}
.hero .hero-right {
  height: 40vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 20px;
  position: relative;
}
.hero .hero-right .heroimg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.hero .hero-right .fruitslide {
  position: absolute;
  /* padding: 2rem; */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  color: white;
  flex: 2rem;
  background: rgba(255, 166, 0, 0.707);
  top: 50%;
  left: 30%;
  border-radius: 15px;
}
.hero .hero-right .fruitslide .fruitslideText {
  font-size: 1.4rem;
}
