.bestsellerCont{
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.bestsellerCont .intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.bestsellerCont .intro .bestProducts{
    font-size: 4rem;
    font-weight: bold;
}
.bestsellerCont .intro .description{
    width: 45%;
    text-align: center;
}
.bestsellerCont .products{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.bestsellerCont .products .productCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 30vh;
    background-color: #efefef;
    border-radius: 15px;
}
.bestsellerCont .products .productCard img{
    border-radius: 50%;
    width: 45%;
}
.bestsellerCont .products .productCard .details{
    display: flex;
    gap: 0.8rem;
    align-items: left;
    padding-left: 1rem;
    justify-content: center;
    flex-direction: column;
}
.bestsellerCont .products .productCard .details p:first-of-type:hover{
    color: greenyellow !important;
}
.bestsellerCont .products .productCard .details button:hover{
    background-color: orange;
    color: white !important;
}
.bestsellerCont .products .productCard .details button span{
    color: greenyellow;
}
.bestsellerCont .products .productCard .details button:hover > span{
    color: greenyellow;
}
.bestsellerCont .extraProducts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.bestsellerCont .extraProducts .productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30vh;
    background-color: #00000000;
    border-radius: 15px;
}
.bestsellerCont .extraProducts .productCard img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.bestsellerCont .extraProducts .productCard .details{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding-top: 1rem;
    justify-content: center;
    flex-direction: column;
}
.bestsellerCont .extraProducts .productCard .details p:first-of-type:hover{
    color: greenyellow !important;
}
.bestsellerCont .extraProducts .productCard .details button:hover{
    background-color: orange;
    color: white !important;
}
.bestsellerCont .extraProducts .productCard .details button span{
    color: greenyellow;
}
.bestsellerCont .extraProducts .productCard .details button:hover > span{
    color: greenyellow;
}